<section class='mkt-standard-image-text-overlay'>
  <div class="{{standardImageTextOverlay.overlayColorType}}">
    <img
      src='{{standardImageTextOverlay.block.image.uploadDestinationId}}'
      alt=''
    />
      <div class="image-text-container ">
        <h4>{{standardImageTextOverlay.block.headline.value}}</h4>
        {{#each standardImageTextOverlay.block.body.textList}}
          {{> text value=value }}
        {{/each}}
      </div>
  </div>
</section>