<section class='mkt-standard-comparison-table'>
  <table>
    <tbody>
      <tr>
        <td class="fixed-column holder"></td>
        {{#each standardComparisonTable.productColumns}}
          <td>
            <img src="{{image.uploadDestinationId}}" alt="">
          </td>
        {{/each}}
      </tr>
      
      <tr>
        <td class="fixed-column holder"></td>
        {{#each standardComparisonTable.productColumns}}
          <td> 
            <span>{{title}}</span>
          </td>
        {{/each}}
      </tr>

      {{#each standardComparisonTable.metricRowLabels}}
        <tr class="metrics-row">
          <td class="fixed-column">{{value}}</td>
          {{#each ../standardComparisonTable.productColumns}}
            {{#with (lookup metrics @../index)}}
              <td class="{{#if ../highlight}}highlight{{/if}}">{{value}}</td>
            {{/with}}
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</section>